<% provide(:title, "Welcome") %>
<div>
	<p>
		<h1>Welcome to MiniPM</h1>
	</p>
</div>
<div>
	<p>
		<nav>
			<ul>
				<% if current_user == nil %>
					<li><%= link_to "Sign in", signin_path %></li>
					<li><%= link_to "Sign up", signup_path %></li>
				<% else %>
					<li><%= link_to "Profile", profile_path %></li>
					<li><%= link_to "Sign out", signout_path %></li>
				<% end %>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Author", author_path %></li>
			</ul>
		</nav>
	</p>
</div>
